header {
  display: block;

  background-color: rgb(206, 188, 188);

  background-image: url(/img/zigzag-fill-desktop.svg.png);
  background-position: bottom;
  background-repeat: repeat-x;

  min-height: 300px;
}
