.header-info {
  display: block;
  list-style-type: none;

  position: relative;

  // background-image: url(/img/line-header.png);
  // background-repeat: no-repeat;
  // background-position: center;
}
.header-info__list {
  display: flex;
}
.header-info__link {
  list-style-type: none;
  a {
    margin: 5px;

    text-decoration: none;
  }
}
.header-info__about-delivery {
  position: absolute;

  right: 0;
  top: -18px;
}
.header-info__text {
  text-align: center;
}
