@mixin theme_color(
  $color: #f4f4f4,
  $bg__color: #373737,
  $border__color: rgb(138, 127, 127)
) {
  color: $color;
  background-color: $bg__color;
}

body {
  @include theme_color(rgb(0, 0, 0), #f4f4f4, rgb(110, 105, 105));
}
