@mixin theme_color(
  $color: #000000,
  $bg__color: #ffffff,
  $border__color: rgb(138, 127, 127)
) {
  color: $color;
  background-color: $bg__color;
}
$lite-black: rgb(138, 127, 127);
$semi-black: #373737;
$almost-white: #f4f4f4;
$lite-black: rgb(0, 0, 0);
$marron: rgb(206, 188, 188);
body {
  @include theme_color();
}
a:hover {
  color: $lite-black;
}
a {
  color: black;
}
header {
  background-color: $marron;
}
.nav__link {
  color: black;
}